<h1>Evaluations of <%= @report.original_title %></h1>

<div class="container">
	<% @evaluations.each do |evaluation| %>
		<div class="mb-1">
			<%= evaluation.id %> - <%= evaluation.title_entity %> 
			<%= link_to "Add active transparency evaluation", new_report_evaluation_active_evaluation_path(@report, evaluation), class: "btn btn-primary" %>
			<%= link_to "Add passive transparency evaluation", new_report_evaluation_passive_evaluation_path(@report, evaluation), class: "btn btn-primary" %>
		</div>
		<div>
			Active Evaluation
			<%= evaluation.active_evaluation %>
		</div>
		<div>
			Passive Evaluation
			<%= evaluation.passive_evaluation %>
		</div>
		
	<% end %>
</div>