<h1>Evaluation#new</h1>

<div class="container">
	<%= simple_form_for [@report, @evaluation] do |f| %>
		<%= f.input :year %>
		<%= f.input :level_government, collection: Evaluation::LEVEL_GOVERNMENT %>
		<%= f.input :jurisdiction %>
		<%= f.input :title_entity %>

		<%= f.submit "Create Evaluation", class: "btn btn-primary" %>
	<% end %>	
</div>
