<h1>Create new active evaluation</h1>

<div class="container">
	<%= simple_form_for [@report, @evaluation, @active_evaluation] do |f| %>
		<%= f.input :number_institutions, label: "Number of Institutions Evaluated" %>
		<%= f.input :declared_compliance, label: "Declared Compliance" %>
		<%= f.input :calculated_complicance, label: "Calculated Compliance" %>

		<%= f.submit "Create Active Evaluation", class: "btn btn-primary" %>
	<% end %>	
</div>
