<h1>All Reports</h1>

<% @reports.each do |report| %>
	<div class="card">
	  <div class="card-body">
	    <h5 class="card-title"><%= report.original_title %> - <%= report.year %></h5>
	    <p class="card-text">by <%= report.authors&.last&.name %></p>
	    <% if report.file.key %>
	    	<p class="card-text">
	    		<%= link_to "Download", "http://res.cloudinary.com/dedjzp7v9/image/upload/v1667763794/production/#{report.file.key}" %>
	    	</p>
	    <% end %>
	    <%= link_to "add new evaluation", new_report_evaluation_path(report), class: "btn btn-primary" %>
	    <%= link_to "List all evaluations", report_evaluations_path(report), class: "btn btn-primary" %>
	  </div>
	</div>
<% end %>
