<h1>Create new report</h1>

<div class="container">
	<%= simple_form_for @report do |f| %>
		<%= f.input :original_title, label: "Original Title" %>
		<%= f.input :title_pt, label: "Title in Portuguese" %>
		<%= f.input :title_en, label: "Title in English" %>
		<%= f.input :title_es, label: "Title in Spanish" %>
		<%= f.input :year %>
		<%= f.input :theme, label: "Policy Area" %>
		<%= f.input :original_link, label: "Report Link" %>
		<%= f.input :file, as: :file %>
		
		<%= f.fields_for :authors, @report.authors.build do |authors_fields| %>
		  <%= authors_fields.input :name, label: "Author Name" %>
		  <%= authors_fields.input :category, label: "Author Category", collection: Author::CATEGORIES %>
		<% end %>


		<%= f.submit "Create Report", class: "btn btn-primary" %>
	<% end %>	
</div>
